body {
    font-family: Arial, sans-serif;
    font: 1em sans-serif;
}

.selectors {
    top: 0;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(200, 200, 200, 0.8);
}

#tooltip {
    position: fixed;
    background-color: rgba(142, 142, 142, 0.8);
    border: 1px solid #444444;
    margin-left: 50px;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
}